
.cabecalho-menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.conteiner{
    display: flex;
    align-items: center;
}

.conteiner-img{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.conteiner-botao:checked~.lista-menu{
    display: block;
}

.lista-menu-titulo, .lista-menu-item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu-titulo{
    color: var(--laranja);
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.lista-menu-link{
    background: var(--azul-degrade);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.conteiner-botao{
    display: none;
}

.conteiner-titulo{
    display: none;
}

.opcoes{
    display: none;
}

@media screen and (min-width: 1024px) {
    .conteiner-titulo, 
    .conteiner-titulo-negrito{
        color: var(--preto);
        font-family: var(--fonte-titulo);
        font-size: 30px;
    }

    .conteiner-titulo{
        font-weight: 400;
        display: block;
    }

    .conteiner-titulo-negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes-item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes-link{
        color: var(--preto);
        text-decoration: none;
        font-size: 16px;
        font-family: var(--fonte-principal);
        
    }

    .conteiner-img-favoritos{
        display: none;
    }

    .cabecalho-menu-hamburguer{
        display: none;
    }

    .opcoes-botao:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .opcoes-botao{
        display: none;
    }

}
