
.topicos{
    width: 100%;
    background: var(--azul-degrade);
    text-align: center;
    justify-content: center;
    padding: 1em 0;
}

.topicos-titulo{
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-size: 16px;
    justify-content: center;
    text-transform: uppercase;
    padding: 1em;
}

.topicos-lista{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
}

.topicos-item{
    margin: 2em 0.5em ;
}

.topicos-link{
    color: var(--branco);
    background-color: var(--laranja);
    padding: 0.5em;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {

    .topicos-titulo{
        font-size: 24px;
    }

    .topicos-link{
        font-size: 24px;
    }

    .topicos-link:hover {
        color: var(--laranja);
        background-color: var(--branco);
        }
}

@media screen and (min-width: 1728px) {

    .topicos{
        padding: 2em 0 3em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topicos-lista{
        width: 30%;
       display: flex;
       flex-wrap: wrap;
    }

    .topicos-link{
        font-size: 24px;
        padding: 0.7em;
        align-items: center;
    }

    .topicos-titulo{
        font-size: 32px;
    }
}